<a href="#" data-toggle="modal" data-target="#register-modal" data-backdrop="false" style="font-size:16px">register</a>

<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
  <div class="registermodal-container">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeRegisterModal><span aria-hidden="true">&times;</span></button>
    <h1 style="color:#0d47a1">Register</h1><br>
    <form #form="ngForm" (ngSubmit)="register(form.value)" ngNativeValidate autocomplete="off">
      <input type="text" [(ngModel)]="newUser.username" name="username" placeholder="username" required>
      <input type="password" [(ngModel)]="newUser.password" name="password" placeholder="password" required>
      <input type="password" [(ngModel)]="newUser.repassword" name="repassword" placeholder="confirm password" required>
      <input type="submit" name="register" class="register registermodal-submit" value="register">
    </form>
    <p class="text-danger" style="text-align:center; font-size:12px"> {{ desc }} </p>
  
  </div>
  </div>
</div>


